<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  编辑attachment
			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
<label  class="col-sm-2 control-label">Id</label><input type="text" class="form-control" placeholder="Id" name="Id" value="{$attachment.Id}" /><br>
<label  class="col-sm-2 control-label">sendId</label><input type="text" class="form-control" placeholder="sendId" name="sendId" value="{$attachment.sendId}" /><br>
<label  class="col-sm-2 control-label">worknum</label><input type="text" class="form-control" placeholder="worknum" name="worknum" value="{$attachment.worknum}" /><br>
<label  class="col-sm-2 control-label">filename</label><input type="text" class="form-control" placeholder="filename" name="filename" value="{$attachment.filename}" /><br>
<label  class="col-sm-2 control-label">filepath</label><input type="text" class="form-control" placeholder="filepath" name="filepath" value="{$attachment.filepath}" /><br>
<label  class="col-sm-2 control-label">uid</label><input type="text" class="form-control" placeholder="uid" name="uid" value="{$attachment.uid}" /><br>
<input  type="submit"  value="提交" class="btn btn-default"></form>
								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>