<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  新建attachment
			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
<label  class="col-sm-2 control-label" for="Id">Id</label><input type="text" class="form-control" placeholder="Id" name="Id" id="Id" />
<label  class="col-sm-2 control-label" for="sendId">sendId</label><input type="text" class="form-control" placeholder="sendId" name="sendId" id="sendId" />
<label  class="col-sm-2 control-label" for="worknum">worknum</label><input type="text" class="form-control" placeholder="worknum" name="worknum" id="worknum" />
<label  class="col-sm-2 control-label" for="filename">filename</label><input type="text" class="form-control" placeholder="filename" name="filename" id="filename" />
<label  class="col-sm-2 control-label" for="filepath">filepath</label><input type="text" class="form-control" placeholder="filepath" name="filepath" id="filepath" />
<label  class="col-sm-2 control-label" for="uid">uid</label><input type="text" class="form-control" placeholder="uid" name="uid" id="uid" />
<input  type="submit"  value="提交" class="btn btn-default" /></form>
								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>