<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  新建admin_panel
			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
<label  class="col-sm-2 control-label" for="menuid">menuid</label><input type="text" class="form-control" placeholder="menuid" name="menuid" id="menuid" />
<label  class="col-sm-2 control-label" for="userid">userid</label><input type="text" class="form-control" placeholder="userid" name="userid" id="userid" />
<label  class="col-sm-2 control-label" for="name">name</label><input type="text" class="form-control" placeholder="name" name="name" id="name" />
<label  class="col-sm-2 control-label" for="url">url</label><input type="text" class="form-control" placeholder="url" name="url" id="url" />
<label  class="col-sm-2 control-label" for="datetime">datetime</label><input type="text" class="form-control" placeholder="datetime" name="datetime" id="datetime" />
<input  type="submit"  value="提交" class="btn btn-default" /></form>
								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>